<!-- This page is the public facing website for people who are not logged in-->
{% extends "/all_pages/master_layout.html" %}

{% block header %}
  {% include "all_pages/header.html"%}
  <!--Override settings imported from header with specific CSS files.-->
  <link rel="stylesheet"
                     href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}
{% block title %}Home{% endblock %}

{% block navbar %}
  {% include "all_pages/navbar.html"%}
{% endblock %}

{% block content %}
  <div class="header-img row">
    <img class=" img-responsive center-block" src="static/images/header.jpg"
                                                              alt="ski village">
  </div>
  {% include "pre_login/marketing.html" %}
{% endblock content %}
{%block footer %}
  {% include "all_pages/footer.html"%}
{% endblock%}
{% block scripts %}
  {% include "all_pages/scripts.html"%}
{% endblock %}
