<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Ski Pow, not mud. <span class="text-muted">All Day, All season</span></h2>
      <p class="lead">Nobody likes dirty snow. Stay on the white stuff with
        real time, unbiased, user generated piste reports help you plan your
        next run, and alert others to potential hazards. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block drop" src="static/images/pitch1.jpg" alt="Man Skiing">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Work as a team to<span class="text-muted"> find the best snow.</span></h2>
      <p class="lead">As you ride the lift to the top of the hill, take a moment
         to complete a run report, then look at
         to the minute reviews from others, as you decide where to go next</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block drop" src="static/images/pitch2.jpg" alt="people looking at ski hill">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">We cant make it snow. <span class="text-muted">We can put you where its best</span></h2>
      <p class="lead">Not everbody can venture into the back country in pursuit of pristine snow, but we can put you on the best
      there is to offer, on any given day, and any given mountain.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block drop" src="static/images/pitch3.jpg" alt="people skiing">
    </div>
  </div>
</div>
