<!-- This document provides the primitive structure for all pages on the site
     Its extended by custom pages, which then include fundamental unchanging
     elemnts.-->

<!doctype html>
<html>
  <head>
    {% block header %}  {% endblock %}
    <title>{% block title %}{% endblock %}-drtysnow.com</title>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
            {% block navbar %}  {% endblock %}
            {% block content %} {% endblock %}
            {% block footer %}  {% endblock %}
      </div>
    </div>
    {% block scripts %} {% endblock%}
  </body>
</html>
