<!-- This page displays profile details for a specified resort #-->
{% extends "/all_pages/master_layout.html" %}

{% block header %}
  {% include "all_pages/header.html"%}
  <!--Override settings imported from header with specific CSS files. -->
 <link rel="stylesheet"
                href="{{ url_for('static', filename='css/new_review.css') }}">
{% endblock %}
{% block title %}Run Review: {run_name}{% endblock %}

{% block navbar %}
  {% include "all_pages/navbar.html"%}
{% endblock %}

{% block content %}
<div class="bumper">
</div>
  <div class="row padded">
    <div class= "col-md-4">
      <h1>Create Review: {{ resort_name }}</h1>
    </div>
      <div class= "col-md-8">
        <form action="http://52.24.176.123/resort/review/{{ resort_name }}/{{ run_id }}/new" method="post">
              {{ form.hidden_tag() }}
            <h3>Rating: </h3>{{ form.rating() }}<br>
            <h3>Any Hazards on the way down to watch for?</h3>
            <p> At the top? {{ form.top_hazard() }}</p>
            <p> Near the middle? {{ form.mid_hazard()}}</p>
            <p> Approaching the lift? {{ form.bot_hazard() }}</p>
            <h3> Any comments? </h3>
            {{ form.comment }}
            <p><input type="submit" value="submit"></p>
        </form>
    </div>
  </div>
{% endblock content %}
{% block footer %}
<div class ="bumper"></div>
  {% include "all_pages/footer.html"%}
{% endblock%}
{% block scripts %}
  {% include "all_pages/scripts.html"%}
{% endblock %}
