<!-- This page throws an access level error #-->
{% extends "/all_pages/master_layout.html" %}

{% block header %}
  {% include "all_pages/header.html"%}
  <!--Override settings imported from header with specific CSS files. -->
 <link rel="stylesheet"
                href="{{ url_for('static', filename='css/show_run.css') }}">
{% endblock %}
{% block title %}Access Denied.{% endblock %}

{% block navbar %}
  {% include "all_pages/navbar.html"%}
{% endblock %}

{% block content %}
<div class ="bumper"></div>

<div class="container">
 <h1>Access Denied: Your account does not grant you access to this page.</h1>
</div>

{% endblock content %}
{%block footer %}
<div class ="bumper"></div>

  {% include "all_pages/footer.html"%}
{% endblock%}
{% block scripts %}
  {% include "all_pages/scripts.html"%}
{% endblock %}
